
<br>

<div class=''>
<br>
<h2><%= user.firstName %> </h1>
<h3><%= user.lastName %> </h3>
<hr>
<h3>Contact email: <%= user.email %> </h3>
<h3>Contact phone: <%= user.tel %> </h3>
<h3>net Id: <%= user.netID %> </h3>
<h3>City: <%= user.city %> </h3>
<h3>State: <%= user.state %> </h3>
<h3>School Name: <%= user.schoolName %> </h3>
<h3>Status: <%= user.status %> </h3>
<h3>Term: <%= user.term %> </h3>


<a class="btn btn-lg btn-success" href="/user/edit/<%= user.id %>">Edit Entries ...</a>

<div>

